* {
    box-sizing: border-box;
}

html {
    font-family: poppins-light;
    ;
}

body {
    background-color: var(--clr3);
    margin: 0;
}


.logo {
    margin-inline-start: 10px;
    height: 2rem;
    cursor: pointer;
    width: 10rem;
}

.footer-container {
    height: 13vh;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}