.header-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    margin-top: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg,
            rgb(25, 170, 196) 24%,
            rgb(44 181 108) 68%);
    box-shadow: -1px 2px 5px 1px #1a1a1a;
    margin-bottom: 10px;
}

header .btn {
    border: none;
    font-family: poppins-medium;
    border-radius: unset;
    background-color: unset;
    color: white;
    font-size: 1.3rem;
    border-radius: 35px;
    line-height: 2.5rem;
    padding: 7px;
}

.btn-about {
    margin-inline-end: 5rem;
    margin-inline-start: 2rem;
}

.btn:hover {
    background-color: white;
    color: rgb(44 181 108);
    box-shadow: 0px 2px 3px 2px rgb(0 0 0 / 23%);
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}