@import 'typography.css';
@import 'helpers.css';
@import 'base.css';
@import 'layout.css';
@import 'header.css';
@import 'editor.css';
@import 'gallery.css';
@import 'mq.css';

:root {
    /* MAIN*/
    --clr1: #383b42;
    /* SEARCH INPUT*/
    --clr2: #22252c;
    /*body */
    --clr3: #22252c;
}

.saved-memes-container {
    display: grid;
    text-align: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 10px 10px;
    margin-block-start: 10px;

}

.saved-memes-container img {
    text-align: center;
    height: 180px;
    width: 180px;
    margin: 10px;
    cursor: pointer;
}

.saved-memes-container button {
    background-color: #e43d36;
    color: white;
    font-size: 0.9rem;
    font-family: poppins-light;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;
    margin-top: 1px;
}

.saved-memes-container button:hover {
    background-color: gold;
    color: var(--clr1)
}

.fa-upload {
    text-align: center;
}