@media screen and (max-width: 614px) {
    .header-container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        height: 14vh;
    }

    .search-input {
        width: 70%;
        align-self: baseline;
    }

    .keywords-container {
        margin-left: 0;
        width: 97%;
        padding-right: 5px;
    }

    .search-area {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .main-content {
        width: 100%;
        margin-top: 12px;
        border-radius: 19px;
        margin-inline-start: auto;
    }

    .btn-flexible {
        position: absolute;
        font-size: 1rem;
        top: 4vh;
        right: 2vh;
        width: auto;
    }

    .main-layout {
        margin-inline-start: 0;
        margin-inline-end: 0;

    }

    .img-container {
        margin: auto;
        width: 95%;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
    }

    .filter {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .canvas-container {
        width: 300px;
        height: 300px;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .editor {
        flex-direction: column;
        margin-top: 1rem;
        padding-bottom: 16px;
        border-radius: 5px;
    }

    .edit-area {
        width: 300px;
        height: 400px;
        margin-top: 10px;
        box-shadow: none;
        justify-content: space-between;
        align-items: center;
    }

    .content-edit {
        margin-bottom: 10px;
        font-size: 1rem;
        padding: 2px;
    }

    .edit-lines {
        padding: 10px;
    }

    .edit-lines button {
        width: 40px;
        height: 40px;
    }

    .text-edit {
        margin-top: 5px;
        /* background-color: inherit; */
        gap: 1rem;
    }

    .text-edit button {
        width: 40px;
        height: 40px;
    }

    .btn-edit {
        width: 40px;
        height: 40px;
    }

    .emojis-area {
        /* height: 100px; */
        margin-top: 10px;
        /* background-color: inherit; */
        box-shadow: none;

    }

    .emojis-area button {
        border-radius: 10px;
        font-size: 1.2rem;
        padding: auto;
    }

    .dsp-btn {
        font-size: 1rem;
        height: 30px;
        width: 100px;
    }

    .dsp-btns-container {
        margin-top: 10px;
        height: 60px;
    }

}

@media (min-width:614px) {
    /* .canvas-container {
        width: 400px;
        height: 400px;
    }

    canvas {
        width: 100%;
        height: 100%;
    } */

    .editor {
        flex-direction: row;
        margin-top: 1rem;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
    }

    .edit-area {
        width: 350px;
        height: 500px;
        /* margin: auto 20px auto 20px; */
        box-shadow: none;
        justify-content: space-between;
        align-items: center;
    }

    .content-edit {
        margin-bottom: 10px;
        font-size: 1rem;
        padding: 2px;
    }

    .edit-lines button {
        width: 40px;
        height: 40px;
    }

    .text-edit {
        margin-top: 1rem;
        background-color: inherit;
    }

    .text-edit button {
        width: 40px;
        height: 40px;
    }

    .btn-edit {
        width: 40px;
        height: 40px;
    }


    .dsp-btn {
        font-size: 1rem;
        height: 40px;
        width: 100px;
    }

    .dsp-btns-container {
        margin-top: 10px;
        height: 60px;
    }

    .emojis-area button {
        border-radius: 10px;
    }

    .btn-flexible {
        font-size: 0.8rem;
    }
}


@media (min-width:770px) {
    .backdrop {
        display: none;
    }

    .hamburger {
        display: none;
        visibility: hidden;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        width: 350px;
        margin-inline-end: 50px;
        position: unset;
        background-color: unset;
        transform: translate(0);
        transition: transform .6s, box-shadow .6s;
    }

    .text-edit {
        background-color: #19a59f;

    }

    .btn-flexible {
        font-size: 1rem;

    }

    .canvas-container {
        width: 500px;
        height: 500px;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .editor {
        height: 90vh;
    }

}

/* @media (min-width:960px)  */